*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #055159;
  color: #D9B9AD;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.pw-container{
  width: 400px;
  background: #735D58;
  box-shadow: 0 4px 20px #735D58;
  border-radius: 1em;
}

.pw-header{
  padding: 2rem;
}

.pw {
  width: 100%;
  height: 20px;
  background-color: ;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5em;
  padding: 1rem;
}

.pw button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 50%);
  transition: opacity 0.2s ease,transfrom 0.2s ease;
  opacity: 0;
  background-color: #055159;
  padding: 0.25rem 1rem;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
};

.pw:hover button {
  opacity: 1;
  transform: translate(0, -80%);
}

.pw-body{
  padding: 0 1rem 1 rem 0;
}

.form-control{
  color: #D9B9AD;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  padding: 0 1rem;
  font-size: 1em;
}

.generate {
  display: block;
  background-color: #D9B9AD;
  color: #055159;
  font-weight: bold;
  padding: 1rem;
  font-size: 1em;
  margin-top: 1rem;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 0 0 1em 1em;
}